*,
::before,
::after {
  box-sizing: border-box;
  border: 1px black;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  height: 100vh;
  line-height: 17px;
}

:root {
  --azul-verde: #004e71;
  --azul: #0077f9;
  --branco: #ffffff;
  --laranja: rgba(244, 145, 49, 1);
}

nav {
  background-color: var(--azul-verde);
  height: 70px;
  color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 300;
  font-size: 18px;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

a {
  text-decoration: none;
}

.nav-logo {
  width: 165px;
  margin-left: 10px;
  margin-right: 26px;
}

.nav-link {
  color: var(--branco);
  background-color: var(--laranja);
  width: 210px;
  height: 46px;
  text-align: center;
  font-size: 14px;
  border: 1px white solid;
  border-radius: 2px;
  display: flex;
  align-items: center;
  margin-inline-start: auto;
  margin-right: 33px;
}

header {
  height: 613px;
  background-image: url(assets/image2-bg.png);
  background-repeat: no-repeat;
  position: relative;
}

.hero {
  height: 543px;
  position: absolute;
  bottom: 0;
  width: 1040px;
  right: 0;
  left: 0;
  white-space: pre;
  z-index: 0;
  margin: auto;
}

.hero-text1 {
  font-size: 48px;
  font-weight: 600;
  color: var(--azul-verde);
  top: 89px;
  right: 0;
  line-height: 50px;
  z-index: 1;
  left: 0;
  position: absolute;
}

.hero-text2 {
  font-size: 24px;
  font-weight: 300;
  color: rgb(106, 149, 170);
  top: 221px;
  right: 0;
  line-height: 32px;
  z-index: 1;
  left: 0;
  position: absolute;
}

.hero-text3 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(106, 149, 170);
  top: 383px;
  right: 0;
  line-height: 32px;
  z-index: 1;
  left: 0;
  position: absolute;
}

.hero-text4 {
  font-size: 16px;
  font-weight: 300;
  color: rgb(106, 149, 170);
  top: 440px;
  right: 0;
  line-height: 32px;
  z-index: 1;
  left: 0;
  position: absolute;
  font-style: italic;
}

.image3-man {
  display: inline;
  width: 360px;
  z-index: 0;
  bottom: 0;
  position: absolute;
  right: 0;
}

.start-course {
  background-color: var(--azul);
  height: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  position: relative;
}

.start-course-text1 {
  line-height: 42px;
  font-size: 36px;
  color: var(--branco);
  position: absolute;
  top: 60px;
}

.start-course-link {
  height: 68px;
  width: 350px;
  background-color: var(--branco);
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--azul-verde);
  font-weight: 400;
  position: relative;
  top: 130px;
}

.start-course-text2 {
  color: var(--branco);
  font-size: 16px;
  position: relative;
  top: 142px;
}